  

<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Обмін</a>
    </div>




    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul> -->
      <!--<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <% if user_signed_in? %>
           <li>
            <%= link_to new_pin_path do %>
              <span class="glyphicon glyphicon-plus"></span> New Pin
            <% end %>
          </li>
          <li><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
























  <div id="header" class="navbar navbar-top">
  <div class="navbar-inner">
    <div class="container page-container">
      <ul class="nav pull-left">
        <a href="/"><img src="/logo.png" border="0" alt="Обмін квартир" width="242" height="42"></a>
      </ul>
      <ul class="nav pull-right">
        <li class="dropdown item_explore">
         <a class="dropdown-toggle" href="javascript:void(0)"> Browse <b class="caret"></b></a>
         <ul class="dropdown-menu dropdown-bordered">
           <li><a href="/wishlists/popular"><i class="icon icon-product-wishlist icon-heart pink"></i> Popular</a></li>
           <li><a href="/wishlists/friends"><i class="icon icon-group"></i> Friends</a></li>
           <li><a href="/locations"><i class="icon icon-product-neighborhoods icon-map-marker blue"></i> Neighborhoods</a></li>
           <li class="groups"><a href="/groups"><i class="icon icon-comments"></i> Groups</a></li>
         </ul>
        </li>
      </ul>

      <ul class="nav pull-right help-menu" style="margin-left:0;">
        <li class="dropdown" data-dropdown-sticky="true">
          <a id="help_dropdown" class="dropdown-toggle help-toggle" href="javascript:void(0)"> Help <b class="caret"></b></a>
          <div class="dropdown-menu help-dropdown dropdown-bordered">
            <div class="nav-header">
              <a href="/help?ref=help-dropdown" class="help-center-link">Visit the Help Center &#187;</a>
            </div>
            <ul class="unstyled list-unstyled">
              <li class="loading"></li>
              <li class="hidden">
                <a href="/safety?ref=help-dropdown" class="">Visit our Trust & Safety Center</a>
              </li>
              <li class="all_faqs hidden">
                <a href="/help/topic/hosting?ref=help-dropdown">See all FAQs</a>
              </li>
              <li id="faqadmin" style="display: none;">
                <input type="hidden" name="faq_link[page]" value="homepages-show">
              </li>
            </ul>
          </div>
        </li>
        <li class="list-your-space">
          <a id="list-your-space" class="yellow btn btn-special" href="/rooms/new">Подати оголошення</a>
        </li>
      </ul>

      <ul class="nav pull-right logged-out">
        <li id="sign_up"><a data-signup-modal href="/signup_login?redirect_params[action]=show&amp;redirect_params[controller]=homepages&amp;redirect_params[locale]=en">Sign Up</a></li>
        <li id="login"><a data-login-modal href="/login?redirect_params[action]=show&amp;redirect_params[controller]=homepages&amp;redirect_params[locale]=en">Log In</a></li>
      </ul>

      <ul class="nav pull-right logged-in">
        <li class="dropdown user-item">
          <a class="dropdown-toggle" href="javascript:void(0)">
            <div class="mini-media-box media-photo user-profile-image"></div>
            <span class="value_name">User</span> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-bordered header-dropdown">
            <li><a href="/home/dashboard">Dashboard</a></li>
            <li class="listings">
              <a href="/rooms">
                <span class="singular" style="display: none;">Your Listing</span>
                <span class="plural">Your Listings</span>
              </a>
            </li>
            <li class="reservations" style="display: none;">
              <a href="/my_listings">Your Reservations</a>
            </li>
            <li><a href="/trips/upcoming">Your Trips</a></li>
            <li><a href="/wishlists/my" id="wishlists">Wish Lists</a></li>
            <li class="groups">
              <a href="/groups">Groups</a>
            </li>
            <li>
              <a href="/invite?r=3">
                Invite Friends
                <span class="label label-pink label-new">New</span>
              </a>
            </li>
            <li><a href="/users/edit">Edit Profile</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/logout" id="header-logout">Log Out</a></li>
          </ul>
        </li>
        <li class="divider-vertical"></li>
        <li id="inbox-item">
          <a href="/inbox"><i class="icon icon-mail hide-text"><span class="text-hide">Inbox</span></i><i class="alert-count position-super fade">0</i></a>
        </li>
        <li class="divider-vertical"></li>
      </ul>
    </div>
  </div>








